.dropdown-menu {
  cursor: pointer; }

.btn, .btn-default {
  border-color: none;
  box-shadow: none;
  outline: 0 none; }

btn {
  padding: 0; }

@media screen and (max-width: 900px) {
  .navbar-nav li a {
    font-size: 20px; }

  .watches {
    background-color: #fff;
    text-align: center; }
    .watches .watchesWrapper {
      display: inline-block;
      margin-right: 10px; }
    .watches .imageWrapper {
      position: relative;
      display: inline-block;
      background-color: #f3f2f0;
      padding: 20px 0;
      margin-top: 15px;
      width: 150px; }
      .watches .imageWrapper .select-dial {
        display: block;
        position: absolute;
        bottom: 30px;
        font-size: 0.8em;
        background-color: #a0a9ae;
        color: #fff;
        border-color: #fff;
        border-radius: 0;
        width: 100px;
        left: 100px;
        margin-left: -50px; }
        .watches .imageWrapper .select-dial:hover {
          background-color: #fff;
          color: #a0a9ae;
          border-color: #000; }
    .watches .info {
      display: inline-block;
      position: relative;
      background-color: #a0a9ae;
      padding-top: 20px;
      margin-left: 10px;
      width: 150px;
      height: 265px;
      vertical-align: middle;
      position: relative; }
      .watches .info h5 {
        font-family: "Marcellus", serif; }
      .watches .info img {
        width: 80%; }
      .watches .info .main-text {
        font-size: 0.7em;
        margin: 20px 10px; }
      .watches .info .in-basket {
        position: absolute;
        font-size: 0.7em;
        background-color: #a0a9ae;
        color: #fff;
        border-color: #fff;
        border-radius: 0;
        width: 100px;
        left: 100px;
        margin-left: -50px;
        bottom: 30px;
        display: inline-block; }
      .watches .info:hover {
        background-color: #fff;
        color: #a0a9ae;
        border-color: #000; }
      .watches .info .under-button-text {
        font-size: 0.7em;
        font-weight: bold;
        position: absolute;
        bottom: 0px;
        margin-left: 40px; }
      .watches .info .arrow-left {
        position: absolute;
        top: 45%;
        left: -9px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #a0a9ae;
        width: 0;
        height: 0; }
      .watches .info .arrow-right {
        position: absolute;
        top: 45%;
        right: -9px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid #a0a9ae;
        width: 0;
        height: 0; } }
.page-wrapper .top {
  background-image: url("../../img/top-content-bg.gif");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 700px; }
  .page-wrapper .top .top-center .logo {
    padding: 10px;
    text-align: center; }
    .page-wrapper .top .top-center .logo img {
      display: inline-block; }
  .page-wrapper .top .top-center .navbar {
    font-weight: 500;
    margin-bottom: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    background-color: #fff; }
    .page-wrapper .top .top-center .navbar .navbar-collapse .navbar-nav {
      position: relative;
      text-align: center;
      width: 100%; }
      .page-wrapper .top .top-center .navbar .navbar-collapse .navbar-nav .nav-search {
        display: inline-block;
        background-image: url("../../img/header-nav-sprites.png");
        margin-left: 5px;
        margin-right: 10px;
        width: 29px;
        height: 29px;
        margin: 15px 1em; }
      .page-wrapper .top .top-center .navbar .navbar-collapse .navbar-nav .nav-logo {
        background-image: url("../../img/header-nav-sprites.png");
        background-position: 60px 0px;
        margin-right: 10px;
        width: 29px;
        height: 29px;
        margin: 20px 1em; }
      .page-wrapper .top .top-center .navbar .navbar-collapse .navbar-nav .nav-basket {
        background-image: url("../../img/header-nav-sprites.png");
        background-position: 30px 0px;
        margin-right: 17px;
        width: 30px;
        height: 29px;
        margin: 15px 1em; }
      .page-wrapper .top .top-center .navbar .navbar-collapse .navbar-nav .search-link {
        font-style: italic;
        display: inline-block;
        padding: 18px 0;
        font-family: "Droid Serif", serif;
        letter-spacing: 2px; }
      .page-wrapper .top .top-center .navbar .navbar-collapse .navbar-nav .basket-link {
        font-style: italic;
        display: inline-block;
        padding: 18px 0;
        letter-spacing: 2px;
        font-family: "Droid Serif", serif; }
      .page-wrapper .top .top-center .navbar .navbar-collapse .navbar-nav .dot {
        display: inline-block; }
      .page-wrapper .top .top-center .navbar .navbar-collapse .navbar-nav .navbar-center {
        margin: 18px 0;
        display: inline-block; }
        .page-wrapper .top .top-center .navbar .navbar-collapse .navbar-nav .navbar-center a {
          padding: 0px 4px; }
        .page-wrapper .top .top-center .navbar .navbar-collapse .navbar-nav .navbar-center i {
          margin: -4px 0;
          display: inline-block; }
        .page-wrapper .top .top-center .navbar .navbar-collapse .navbar-nav .navbar-center:navbar-logo {
          margin: 10px 1em; }
      .page-wrapper .top .top-center .navbar .navbar-collapse .navbar-nav li a {
        display: inline;
        font-size: 100%;
        color: #013a5a; }
        @media screen and (max-width: 800px) {
          .page-wrapper .top .top-center .navbar .navbar-collapse .navbar-nav li a {
            font-size: 70%; } }
        .page-wrapper .top .top-center .navbar .navbar-collapse .navbar-nav li a:hover {
          text-decoration: underline; }
      .page-wrapper .top .top-center .navbar .navbar-collapse .navbar-nav .center-menu {
        display: inline;
        margin: 0 auto; }
    .page-wrapper .top .top-center .navbar .in .navbar-nav {
      text-align: center;
      margin: 0; }
      .page-wrapper .top .top-center .navbar .in .navbar-nav .nav-search, .page-wrapper .top .top-center .navbar .in .navbar-nav .nav-logo, .page-wrapper .top .top-center .navbar .in .navbar-nav .nav-basket {
        display: none; }
      .page-wrapper .top .top-center .navbar .in .navbar-nav li {
        padding: 5px; }
        .page-wrapper .top .top-center .navbar .in .navbar-nav li a {
          font-size: 1em; }
      .page-wrapper .top .top-center .navbar .in .navbar-nav i {
        display: none; }
      .page-wrapper .top .top-center .navbar .in .navbar-nav .center-menu {
        display: block; }
        .page-wrapper .top .top-center .navbar .in .navbar-nav .center-menu li {
          width: 100%;
          margin: 0; }
      .page-wrapper .top .top-center .navbar .in .navbar-nav .dot {
        display: none; }
    .page-wrapper .top .top-center .navbar .collapse {
      padding: 0; }
    .page-wrapper .top .top-center .navbar .collapsing {
      padding: 0; }
      .page-wrapper .top .top-center .navbar .collapsing .navbar-nav {
        text-align: center;
        margin: 0; }
        .page-wrapper .top .top-center .navbar .collapsing .navbar-nav .nav-search, .page-wrapper .top .top-center .navbar .collapsing .navbar-nav .nav-logo, .page-wrapper .top .top-center .navbar .collapsing .navbar-nav .nav-basket {
          display: none; }
          .page-wrapper .top .top-center .navbar .collapsing .navbar-nav .nav-search .search-link, .page-wrapper .top .top-center .navbar .collapsing .navbar-nav .nav-logo .search-link, .page-wrapper .top .top-center .navbar .collapsing .navbar-nav .nav-basket .search-link {
            margin: 0px; }
        .page-wrapper .top .top-center .navbar .collapsing .navbar-nav li {
          padding: 5px; }
          .page-wrapper .top .top-center .navbar .collapsing .navbar-nav li a {
            font-size: 1em; }
        .page-wrapper .top .top-center .navbar .collapsing .navbar-nav i {
          display: none; }
        .page-wrapper .top .top-center .navbar .collapsing .navbar-nav .center-menu {
          display: block; }
          .page-wrapper .top .top-center .navbar .collapsing .navbar-nav .center-menu li {
            width: 100%;
            margin: 0; }
        .page-wrapper .top .top-center .navbar .collapsing .navbar-nav .dot {
          display: none; }
  .page-wrapper .top .top-center .banner-wrapper {
    background-color: #fff;
    padding: 10px;
    position: relative; }
    .page-wrapper .top .top-center .banner-wrapper .active-window-for-gold-watches {
      display: block;
      position: absolute;
      padding: 20px 5px;
      z-index: 21;
      background-color: #ececec;
      width: 100%;
      left: 0px;
      top: 0px; }
      .page-wrapper .top .top-center .banner-wrapper .active-window-for-gold-watches img {
        width: 100%; }
      .page-wrapper .top .top-center .banner-wrapper .active-window-for-gold-watches .active-window .header-wrapper {
        font-family: "Cinzel", serif;
        font-size: 18px; }
        .page-wrapper .top .top-center .banner-wrapper .active-window-for-gold-watches .active-window .header-wrapper ul {
          padding-top: 10%;
          list-style: none;
          padding-left: 0px; }
          .page-wrapper .top .top-center .banner-wrapper .active-window-for-gold-watches .active-window .header-wrapper ul li {
            display: inline-block; }
            .page-wrapper .top .top-center .banner-wrapper .active-window-for-gold-watches .active-window .header-wrapper ul li a {
              font-size: 18px;
              color: #000;
              text-decoration: none; }
              .page-wrapper .top .top-center .banner-wrapper .active-window-for-gold-watches .active-window .header-wrapper ul li a:hover {
                color: #969695; }
      .page-wrapper .top .top-center .banner-wrapper .active-window-for-gold-watches .active-window img {
        width: 40%; }
      .page-wrapper .top .top-center .banner-wrapper .active-window-for-gold-watches .active-window .watches-list ul {
        list-style-type: none;
        padding: 1em 0; }
        .page-wrapper .top .top-center .banner-wrapper .active-window-for-gold-watches .active-window .watches-list ul li {
          display: inline-block;
          margin-right: 10px; }
          .page-wrapper .top .top-center .banner-wrapper .active-window-for-gold-watches .active-window .watches-list ul li a {
            color: #969695;
            text-decoration: none; }
            .page-wrapper .top .top-center .banner-wrapper .active-window-for-gold-watches .active-window .watches-list ul li a:hover {
              color: #000; }
      .page-wrapper .top .top-center .banner-wrapper .active-window-for-gold-watches .active-window .form-group {
        margin-top: 2vw; }
        .page-wrapper .top .top-center .banner-wrapper .active-window-for-gold-watches .active-window .form-group label {
          font-size: 0.7em;
          color: #969695; }
        .page-wrapper .top .top-center .banner-wrapper .active-window-for-gold-watches .active-window .form-group input {
          background-color: #f3f2f0; }
        .page-wrapper .top .top-center .banner-wrapper .active-window-for-gold-watches .active-window .form-group i {
          background-image: url("../../img/arow-right.gif");
          width: 29px;
          height: 29px;
          display: inline-block;
          transform: translate(0px, 10px);
          cursor: pointer; }
    .page-wrapper .top .top-center .banner-wrapper .active-window-for-silver-watches {
      display: block;
      position: absolute;
      padding: 20px 5px;
      z-index: 21;
      background-color: #ececec;
      width: 100%;
      left: 0px;
      top: 0px; }
      .page-wrapper .top .top-center .banner-wrapper .active-window-for-silver-watches img {
        width: 100%; }
      .page-wrapper .top .top-center .banner-wrapper .active-window-for-silver-watches .active-window .header-wrapper {
        font-family: "Cinzel", serif;
        font-size: 18px; }
        .page-wrapper .top .top-center .banner-wrapper .active-window-for-silver-watches .active-window .header-wrapper ul {
          padding-top: 10%;
          list-style: none;
          padding-left: 0px; }
          .page-wrapper .top .top-center .banner-wrapper .active-window-for-silver-watches .active-window .header-wrapper ul li {
            display: inline-block; }
            .page-wrapper .top .top-center .banner-wrapper .active-window-for-silver-watches .active-window .header-wrapper ul li a {
              font-size: 18px;
              color: #000;
              text-decoration: none; }
              .page-wrapper .top .top-center .banner-wrapper .active-window-for-silver-watches .active-window .header-wrapper ul li a:hover {
                color: #969695; }
      .page-wrapper .top .top-center .banner-wrapper .active-window-for-silver-watches .active-window img {
        width: 40%; }
      .page-wrapper .top .top-center .banner-wrapper .active-window-for-silver-watches .active-window .watches-list ul {
        list-style-type: none;
        padding: 1em 0; }
        .page-wrapper .top .top-center .banner-wrapper .active-window-for-silver-watches .active-window .watches-list ul li {
          display: inline-block;
          margin-right: 10px; }
          .page-wrapper .top .top-center .banner-wrapper .active-window-for-silver-watches .active-window .watches-list ul li a {
            color: #969695;
            text-decoration: none; }
            .page-wrapper .top .top-center .banner-wrapper .active-window-for-silver-watches .active-window .watches-list ul li a:hover {
              color: #000; }
      .page-wrapper .top .top-center .banner-wrapper .active-window-for-silver-watches .active-window .form-group {
        margin-top: 2vw; }
        .page-wrapper .top .top-center .banner-wrapper .active-window-for-silver-watches .active-window .form-group label {
          font-size: 0.7em;
          color: #969695; }
        .page-wrapper .top .top-center .banner-wrapper .active-window-for-silver-watches .active-window .form-group input {
          background-color: #f3f2f0; }
        .page-wrapper .top .top-center .banner-wrapper .active-window-for-silver-watches .active-window .form-group i {
          background-image: url("../../img/arow-right.gif");
          width: 29px;
          height: 29px;
          display: inline-block;
          transform: translate(0px, 10px);
          cursor: pointer; }
    .page-wrapper .top .top-center .banner-wrapper .banner {
      background-color: #fff;
      padding: 0;
      border: 1px solid #ccc; }
      .page-wrapper .top .top-center .banner-wrapper .banner .banner-left {
        padding: 0;
        margin-left: 0; }
        .page-wrapper .top .top-center .banner-wrapper .banner .banner-left #slides .slidesjs-container {
          position: relative;
          z-index: 1; }
        .page-wrapper .top .top-center .banner-wrapper .banner .banner-left #slides .slidesjs-pagination {
          position: absolute;
          top: 85%;
          right: 50%;
          margin: 0 auto;
          z-index: 2;
          margin-right: -37px; }
          .page-wrapper .top .top-center .banner-wrapper .banner .banner-left #slides .slidesjs-pagination li {
            display: inline-block;
            margin: 5px; }
      .page-wrapper .top .top-center .banner-wrapper .banner .banner-right {
        padding-left: 25px;
        padding-right: 25px; }
        .page-wrapper .top .top-center .banner-wrapper .banner .banner-right h6 {
          margin-top: 30px; }
        .page-wrapper .top .top-center .banner-wrapper .banner .banner-right hr {
          margin: 0; }
        .page-wrapper .top .top-center .banner-wrapper .banner .banner-right .ego-wrapper .ego {
          font-family: "Marcellus", serif;
          font-size: 500%;
          color: #999999;
          margin-bottom: 0;
          line-height: 125px; }
        .page-wrapper .top .top-center .banner-wrapper .banner .banner-right .ego-wrapper .ego-description {
          font-size: 120%;
          font-weight: bold;
          padding: 5px 0;
          color: #404040; }
        .page-wrapper .top .top-center .banner-wrapper .banner .banner-right .more-link {
          font-size: 12px;
          font-style: italic;
          color: #333;
          float: right;
          text-decoration: none;
          margin-bottom: 30px;
          font-family: "Droid Serif", serif;
          letter-spacing: 2px; }
          .page-wrapper .top .top-center .banner-wrapper .banner .banner-right .more-link:hover {
            color: #000; }
        .page-wrapper .top .top-center .banner-wrapper .banner .banner-right .more-icon {
          background-image: url("../../img/arow-right.gif");
          float: right;
          width: 29px;
          height: 29px;
          margin: -5px 5px; }
          .page-wrapper .top .top-center .banner-wrapper .banner .banner-right .more-icon:hover {
            color: #000; }
        .page-wrapper .top .top-center .banner-wrapper .banner .banner-right .banner-text {
          font-size: 12px;
          padding: 10px 0;
          text-align: justify; }
  .page-wrapper .top .top-center .slider-wrapper {
    background-color: #fff;
    padding: 10px;
    padding-bottom: 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc; }
    .page-wrapper .top .top-center .slider-wrapper .slider-left {
      padding-left: 0; }
      .page-wrapper .top .top-center .slider-wrapper .slider-left .slide {
        position: relative;
        padding: 0;
        z-index: 0; }
        .page-wrapper .top .top-center .slider-wrapper .slider-left .slide img {
          width: 100%; }
        .page-wrapper .top .top-center .slider-wrapper .slider-left .slide .h-ico {
          position: absolute;
          margin: 0px 43%;
          width: 15%;
          z-index: 1; }
        .page-wrapper .top .top-center .slider-wrapper .slider-left .slide .carousel-indicators li {
          background-color: #fff;
          width: 16px;
          height: 16px; }
        .page-wrapper .top .top-center .slider-wrapper .slider-left .slide .carousel-indicators li:hover {
          background-color: #ccc;
          border: 2.5px solid #fff; }
        .page-wrapper .top .top-center .slider-wrapper .slider-left .slide .carousel-indicators .active {
          background-color: #ccc;
          border: 2.5px solid #fff; }
    .page-wrapper .top .top-center .slider-wrapper .slider-right .full-width-img {
      width: 100%; }
    .page-wrapper .top .top-center .slider-wrapper .slider-right .secondary-logo {
      margin-top: 10px;
      margin-bottom: 10px; }
    .page-wrapper .top .top-center .slider-wrapper .slider-right .text-watch-top {
      font-family: "Marcellus", serif;
      font-size: 3em;
      text-align: center; }
    .page-wrapper .top .top-center .slider-wrapper .slider-right .text-watch-middle {
      font-style: italic;
      margin: 10px;
      text-align: center;
      font-family: "Droid Serif", serif;
      letter-spacing: 2px;
      color: #545451; }
    .page-wrapper .top .top-center .slider-wrapper .slider-right .text-watch-bottom {
      font-size: 10px;
      text-align: center; }
  .page-wrapper .top .top-center .delivery {
    font-size: 11px;
    padding: 0;
    margin-bottom: 20px; }
    .page-wrapper .top .top-center .delivery .header-text p {
      font-family: "Cinzel", serif;
      font-size: 20px; }
    .page-wrapper .top .top-center .delivery .text-uppercase {
      margin-bottom: 5px; }
    .page-wrapper .top .top-center .delivery .delivery-wrapper {
      background-color: #ececec; }
      .page-wrapper .top .top-center .delivery .delivery-wrapper .string {
        margin-top: 20px; }
        .page-wrapper .top .top-center .delivery .delivery-wrapper .string .numbers-icon {
          display: inline-block;
          background-image: url("../../img/numbers.png");
          padding: 0;
          width: 29px;
          height: 29px; }
        .page-wrapper .top .top-center .delivery .delivery-wrapper .string .two {
          background-position: 58px 0px; }
        .page-wrapper .top .top-center .delivery .delivery-wrapper .string .three {
          background-position: 29px 0px; }
      .page-wrapper .top .top-center .delivery .delivery-wrapper .child-right .form-control, .page-wrapper .top .top-center .delivery .delivery-wrapper .child-left .form-control {
        background-color: #f3f2f0;
        box-shadow: none;
        border: 1px solid #aaa; }
      .page-wrapper .top .top-center .delivery .delivery-wrapper .child-right .form-group, .page-wrapper .top .top-center .delivery .delivery-wrapper .child-left .form-group {
        margin: 0; }
        .page-wrapper .top .top-center .delivery .delivery-wrapper .child-right .form-group #comment, .page-wrapper .top .top-center .delivery .delivery-wrapper .child-left .form-group #comment {
          height: 114px;
          margin-top: 7px;
          resize: none; }
        .page-wrapper .top .top-center .delivery .delivery-wrapper .child-right .form-group #structure, .page-wrapper .top .top-center .delivery .delivery-wrapper .child-left .form-group #structure {
          margin-bottom: 15px; }
      .page-wrapper .top .top-center .delivery .delivery-wrapper .bottom-delivery-block .bottom-right .child-left-bottom-right .form-group {
        margin: 0; }
        .page-wrapper .top .top-center .delivery .delivery-wrapper .bottom-delivery-block .bottom-right .child-left-bottom-right .form-group .input-checkbox {
          cursor: pointer; }
      .page-wrapper .top .top-center .delivery .delivery-wrapper .bottom-delivery-block .bottom-right .rulles {
        margin-top: 25px; }
        .page-wrapper .top .top-center .delivery .delivery-wrapper .bottom-delivery-block .bottom-right .rulles .doc-icon {
          background-image: url("../../img/doc-icon.png");
          margin: 0px 5px 0px 0px;
          float: left;
          width: 17px;
          height: 21px; }
        .page-wrapper .top .top-center .delivery .delivery-wrapper .bottom-delivery-block .bottom-right .rulles div {
          display: inline-block;
          margin-bottom: 10px;
          margin-right: 10px; }
          .page-wrapper .top .top-center .delivery .delivery-wrapper .bottom-delivery-block .bottom-right .rulles div a {
            color: #000; }
            .page-wrapper .top .top-center .delivery .delivery-wrapper .bottom-delivery-block .bottom-right .rulles div a .text {
              text-decoration: underline; }
              .page-wrapper .top .top-center .delivery .delivery-wrapper .bottom-delivery-block .bottom-right .rulles div a .text:hover {
                text-decoration: none; }
      .page-wrapper .top .top-center .delivery .delivery-wrapper .bottom-delivery-block .btn-edit {
        font-size: 11px;
        background-color: #ececec;
        padding: 9px 30px;
        margin: 20px 0 20px;
        border: 1px solid #aaa;
        border-radius: 0px;
        float: right;
        height: 34px; }
        .page-wrapper .top .top-center .delivery .delivery-wrapper .bottom-delivery-block .btn-edit:hover {
          background-color: #fff;
          border-color: #000; }
      .page-wrapper .top .top-center .delivery .delivery-wrapper .checkboxx .input-checkbox {
        display: block;
        background-color: #f3f2f0;
        border: 1px solid #aaa;
        width: 34px;
        height: 34px; }
      .page-wrapper .top .top-center .delivery .delivery-wrapper .checkboxx .checked {
        background-image: url("../../img/check-mark.png");
        background-position: center;
        background-repeat: no-repeat; }
      .page-wrapper .top .top-center .delivery .delivery-wrapper label {
        font-size: 9px;
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 0; }
  .page-wrapper .top .top-center .maps-header .storeNear p {
    font-family: "Cinzel", serif;
    font-size: 20px; }
  .page-wrapper .top .top-center .maps-header .toggle {
    cursor: pointer;
    font-family: "Droid Serif", serif;
    font-style: italic;
    letter-spacing: 2px; }
  .page-wrapper .top .top-center .maps-header .yourCity {
    height: 2em; }
    .page-wrapper .top .top-center .maps-header .yourCity .btn-group {
      height: 2em; }
      .page-wrapper .top .top-center .maps-header .yourCity .btn-group .choseCityBtn {
        background-color: #fff;
        box-shadow: none;
        border: none; }
        .page-wrapper .top .top-center .maps-header .yourCity .btn-group .choseCityBtn .rightArrow {
          display: inline-block;
          background-image: url("../../img/city-icon.png");
          margin-left: 10px;
          width: 4px;
          height: 7px; }
      .page-wrapper .top .top-center .maps-header .yourCity .btn-group .cityList li a {
        cursor: pointer; }
      .page-wrapper .top .top-center .maps-header .yourCity .btn-group .favoritesCity {
        display: inline-block;
        padding-top: 5px; }
      .page-wrapper .top .top-center .maps-header .yourCity .btn-group .closeArrow {
        display: none;
        background-image: url("../../img/city-icon.png");
        background-position: 7px;
        cursor: pointer;
        margin: 12px 0 0 8px;
        width: 7px;
        height: 7px; }
      .page-wrapper .top .top-center .maps-header .yourCity .btn-group .open .btn {
        background-color: #fff; }
      .page-wrapper .top .top-center .maps-header .yourCity .btn-group .open .btn:active {
        background-color: #fff; }
  @media (max-width: 768px) {
    .page-wrapper .top .top-center .maps-header .storeNear, .page-wrapper .top .top-center .maps-header .yourCity, .page-wrapper .top .top-center .maps-header .toggle {
      text-align: center; }
    .page-wrapper .top .top-center .maps-header .toggle {
      cursor: pointer; }
    .page-wrapper .top .top-center .maps-header .storeNear p {
      font-family: "Cinzel", serif;
      font-size: 20px; } }
  .page-wrapper .top .top-center .checkout {
    position: relative; }
    .page-wrapper .top .top-center .checkout .checkout-line {
      border-bottom: 1px solid #ccc;
      height: 25px;
      margin-bottom: 25px; }
    .page-wrapper .top .top-center .checkout .btn-submit {
      background-color: #ececec;
      border: 1px solid #aaa;
      border-radius: 0px;
      height: 34px;
      padding: 9px 10px;
      font-size: 11px;
      min-width: 170px;
      position: absolute;
      left: 50%;
      margin-left: -85px;
      top: 7px; }
      .page-wrapper .top .top-center .checkout .btn-submit:hover {
        border: 1px solid #000;
        background-color: #fff; }
.page-wrapper .middle {
  padding: 0; }
.page-wrapper .bottom {
  background-image: url("../../img/top-content-bg.gif");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 50%; }
  .page-wrapper .bottom .bottom-center .otheDials {
    font-family: "Cinzel", serif;
    font-size: 20px;
    margin-top: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 32px; }
  .page-wrapper .bottom .bottom-center .watches {
    background-color: #fff;
    text-align: center; }
    .page-wrapper .bottom .bottom-center .watches .watchesWrapper {
      display: inline-block;
      margin-right: 10px; }
      .page-wrapper .bottom .bottom-center .watches .watchesWrapper .imageWrapper {
        position: relative;
        display: inline-block;
        background-color: #f3f2f0;
        padding: 20px 0;
        margin-top: 15px;
        width: 200px; }
        @media screen and (max-width: 900px) {
          .page-wrapper .bottom .bottom-center .watches .watchesWrapper .imageWrapper {
            width: 150px; } }
        .page-wrapper .bottom .bottom-center .watches .watchesWrapper .imageWrapper .select-dial {
          display: block;
          position: absolute;
          bottom: 35px;
          font-size: 0.8em;
          background-color: #a0a9ae;
          color: #fff;
          border-color: #fff;
          border-radius: 0;
          width: 100px;
          left: 100px;
          margin-left: -50px; }
          @media screen and (max-width: 900px) {
            .page-wrapper .bottom .bottom-center .watches .watchesWrapper .imageWrapper .select-dial {
              width: 100px;
              left: 50px;
              margin-left: -25px;
              bottom: 25px; } }
          .page-wrapper .bottom .bottom-center .watches .watchesWrapper .imageWrapper .select-dial:hover {
            background-color: #fff;
            color: #a0a9ae;
            border-color: #000; }
      .page-wrapper .bottom .bottom-center .watches .watchesWrapper .info {
        display: inline-block;
        position: relative;
        background-color: #a0a9ae;
        padding-top: 20px;
        margin-left: 10px;
        width: 200px;
        height: 265px;
        vertical-align: middle;
        position: relative; }
        @media screen and (max-width: 900px) {
          .page-wrapper .bottom .bottom-center .watches .watchesWrapper .info {
            width: 150px; } }
        .page-wrapper .bottom .bottom-center .watches .watchesWrapper .info h5 {
          font-family: "Marcellus", serif; }
        .page-wrapper .bottom .bottom-center .watches .watchesWrapper .info img {
          width: 80%; }
        .page-wrapper .bottom .bottom-center .watches .watchesWrapper .info .main-text {
          font-size: 0.7em;
          margin: 20px 10px; }
        .page-wrapper .bottom .bottom-center .watches .watchesWrapper .info .in-basket {
          position: absolute;
          font-size: 0.7em;
          background-color: #a0a9ae;
          color: #fff;
          border-color: #fff;
          border-radius: 0;
          width: 100px;
          left: 100px;
          margin-left: -50px;
          bottom: 35px;
          display: inline-block; }
          @media screen and (max-width: 900px) {
            .page-wrapper .bottom .bottom-center .watches .watchesWrapper .info .in-basket {
              width: 100px;
              left: 50px;
              margin-left: -25px;
              bottom: 28px; } }
          .page-wrapper .bottom .bottom-center .watches .watchesWrapper .info .in-basket:hover {
            background-color: #fff;
            color: #a0a9ae;
            border-color: #000; }
        .page-wrapper .bottom .bottom-center .watches .watchesWrapper .info .under-button-text {
          font-size: 0.7em;
          font-weight: bold;
          position: absolute;
          bottom: 0px;
          margin-left: 40px; }
          @media screen and (max-width: 900px) {
            .page-wrapper .bottom .bottom-center .watches .watchesWrapper .info .under-button-text {
              width: 100px;
              left: 50px;
              margin-left: -25px; } }
        .page-wrapper .bottom .bottom-center .watches .watchesWrapper .info .arrow-left {
          position: absolute;
          top: 45%;
          left: -9px;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-right: 10px solid #a0a9ae;
          width: 0;
          height: 0; }
        .page-wrapper .bottom .bottom-center .watches .watchesWrapper .info .arrow-right {
          position: absolute;
          top: 45%;
          right: -9px;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-left: 10px solid #a0a9ae;
          width: 0;
          height: 0; }
        .page-wrapper .bottom .bottom-center .watches .watchesWrapper .info:hover {
          color: #000; }
  .page-wrapper .bottom .bottom-center .news {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px; }
    .page-wrapper .bottom .bottom-center .news .specification {
      font-family: "Cinzel", serif;
      font-size: 20px; }
    .page-wrapper .bottom .bottom-center .news .spec-watches img {
      margin: 0 auto; }
    .page-wrapper .bottom .bottom-center .news .news-text-block-wrapper {
      padding: 0; }
      .page-wrapper .bottom .bottom-center .news .news-text-block-wrapper .single-text-block:nth-child(1) {
        margin-bottom: 10px; }
      .page-wrapper .bottom .bottom-center .news .news-text-block-wrapper .single-text-block:nth-child(3) {
        margin-top: 10px; }
    .page-wrapper .bottom .bottom-center .news .single-text-block {
      background-color: #f3f2f0;
      padding-top: 10px;
      padding-left: 10px;
      border-left: 10px solid #aea9a0;
      position: relative; }
      .page-wrapper .bottom .bottom-center .news .single-text-block ul {
        font-size: 0.7em;
        padding-bottom: 10px;
        padding-left: 0;
        list-style: none; }
        .page-wrapper .bottom .bottom-center .news .single-text-block ul li {
          display: inline-block;
          margin-right: 10px; }
          .page-wrapper .bottom .bottom-center .news .single-text-block ul li i {
            display: inline-block;
            margin-right: -10px; }
        .page-wrapper .bottom .bottom-center .news .single-text-block ul li:nth-child(1) i {
          background-image: url("../../img/single-news.png");
          width: 17px;
          height: 16px;
          transform: translate(0px, 5px); }
        .page-wrapper .bottom .bottom-center .news .single-text-block ul li:nth-child(3) i {
          background-position: 186px 0px;
          background-image: url("../../img/single-news.png");
          width: 20px;
          height: 16px;
          transform: translate(0px, 5px); }
        .page-wrapper .bottom .bottom-center .news .single-text-block ul li:nth-child(5) i {
          background-position: 135px 0px;
          background-image: url("../../img/single-news.png");
          width: 17px;
          height: 16px;
          transform: translate(0px, 5px); }
        .page-wrapper .bottom .bottom-center .news .single-text-block ul li:nth-child(7) i {
          background-position: 52px 0px;
          background-image: url("../../img/single-news.png");
          width: 17px;
          height: 16px;
          transform: translate(0px, 5px); }
      .page-wrapper .bottom .bottom-center .news .single-text-block .news-date {
        font-size: 0.8em;
        color: #AEA9A0;
        margin-bottom: 0; }
      .page-wrapper .bottom .bottom-center .news .single-text-block .news-text {
        font-size: 0.8em;
        color: #94908a;
        line-height: 2em; }
      .page-wrapper .bottom .bottom-center .news .single-text-block .news-place {
        font-size: 0.8em; }
      .page-wrapper .bottom .bottom-center .news .single-text-block .right-arrow-single-news {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid #aea9a0;
        position: absolute;
        top: 81%;
        left: -2px; }
      .page-wrapper .bottom .bottom-center .news .single-text-block:hover {
        background-color: #aea9a0;
        cursor: pointer; }
        .page-wrapper .bottom .bottom-center .news .single-text-block:hover .news-date {
          color: #fff; }
        .page-wrapper .bottom .bottom-center .news .single-text-block:hover .news-text {
          color: #545451; }
        .page-wrapper .bottom .bottom-center .news .single-text-block:hover ul li:nth-child(1) i {
          background-image: url("../../img/active-single-news.png"); }
        .page-wrapper .bottom .bottom-center .news .single-text-block:hover ul li:nth-child(3) i {
          background-image: url("../../img/active-single-news.png"); }
        .page-wrapper .bottom .bottom-center .news .single-text-block:hover ul li:nth-child(5) i {
          background-image: url("../../img/active-single-news.png"); }
        .page-wrapper .bottom .bottom-center .news .single-text-block:hover ul li:nth-child(7) i {
          background-image: url("../../img/active-single-news.png"); }
        .page-wrapper .bottom .bottom-center .news .single-text-block:hover ul li:last-child i {
          background-image: url("../../img/right-arrow-single-news.png");
          height: 15px;
          width: 8px;
          transform: translate(0px, 5px);
          position: absolute;
          right: 25px;
          bottom: 15px; }
    .page-wrapper .bottom .bottom-center .news .news-image {
      background-image: url("../../img/news1.png");
      background-position: center;
      background-repeat: no-repeat;
      height: 450px; }
  .page-wrapper .bottom .bottom-center .filter {
    background-color: #F3F2F0;
    padding-top: 20px;
    padding-bottom: 20px; }
    .page-wrapper .bottom .bottom-center .filter .filter-header {
      font-family: "Cinzel", serif;
      font-size: 18px;
      display: block;
      height: 100px; }
      .page-wrapper .bottom .bottom-center .filter .filter-header ul {
        list-style: none;
        padding-left: 0px;
        margin-top: 45px; }
        .page-wrapper .bottom .bottom-center .filter .filter-header ul li {
          display: inline-block; }
          .page-wrapper .bottom .bottom-center .filter .filter-header ul li a {
            font-size: 18px;
            color: #80807F;
            text-decoration: none; }
            .page-wrapper .bottom .bottom-center .filter .filter-header ul li a:hover {
              color: black; }
    .page-wrapper .bottom .bottom-center .filter .price-slider {
      position: relative;
      padding: 30px 15px; }
      .page-wrapper .bottom .bottom-center .filter .price-slider #range {
        display: inline-block;
        position: absolute;
        margin-top: -40px;
        top: 50%;
        height: 100%; }
    .page-wrapper .bottom .bottom-center .filter .filter-options .btn-group {
      height: 2em; }
      .page-wrapper .bottom .bottom-center .filter .filter-options .btn-group .choseForWhom, .page-wrapper .bottom .bottom-center .filter .filter-options .btn-group .choseCaseMetal, .page-wrapper .bottom .bottom-center .filter .filter-options .btn-group .choseColor, .page-wrapper .bottom .bottom-center .filter .filter-options .btn-group .choseInsert {
        display: inline-block;
        background-color: #F3F2F0;
        box-shadow: none;
        border: none; }
      .page-wrapper .bottom .bottom-center .filter .filter-options .btn-group .alreadyChosedForWhom, .page-wrapper .bottom .bottom-center .filter .filter-options .btn-group .alreadyChosedForCaseMetal, .page-wrapper .bottom .bottom-center .filter .filter-options .btn-group .alreadyChosedForColor, .page-wrapper .bottom .bottom-center .filter .filter-options .btn-group .alreadyChosedForInsert {
        display: inline-block;
        transform: translate(0px, 5px); }
      .page-wrapper .bottom .bottom-center .filter .filter-options .btn-group .rightArrowForWhom, .page-wrapper .bottom .bottom-center .filter .filter-options .btn-group .rightArrowForCaseMetal, .page-wrapper .bottom .bottom-center .filter .filter-options .btn-group .rightArrowForColor, .page-wrapper .bottom .bottom-center .filter .filter-options .btn-group .rightArrowForInsert {
        display: inline-block;
        background-image: url("../../img/city-icon.png");
        margin-left: 10px;
        width: 4px;
        height: 7px; }
      .page-wrapper .bottom .bottom-center .filter .filter-options .btn-group .closeArrowForWhom, .page-wrapper .bottom .bottom-center .filter .filter-options .btn-group .closeArrowForCaseMetal, .page-wrapper .bottom .bottom-center .filter .filter-options .btn-group .closeArrowForColor, .page-wrapper .bottom .bottom-center .filter .filter-options .btn-group .closeArrowForInsert {
        display: none;
        background-image: url("../../img/city-icon.png");
        background-position: 7px;
        cursor: pointer;
        width: 7px;
        height: 7px;
        transform: translate(8px, 4px); }
      .page-wrapper .bottom .bottom-center .filter .filter-options .btn-group .alreadyChosedForCaseMetal {
        display: inline-block; }
      .page-wrapper .bottom .bottom-center .filter .filter-options .btn-group .alreadyChosedForColor {
        display: inline-block; }
      .page-wrapper .bottom .bottom-center .filter .filter-options .btn-group .alreadyChosedForInsert {
        display: inline-block; }
  .page-wrapper .bottom .bottom-center .footer-text {
    color: #fff;
    padding: 5vw;
    text-align: center; }
    .page-wrapper .bottom .bottom-center .footer-text .footer-p {
      padding: 1em;
      color: #94a1a7; }
    .page-wrapper .bottom .bottom-center .footer-text .icon-vk {
      background-image: url("../../img/social.png");
      width: 24px;
      height: 24px; }
      .page-wrapper .bottom .bottom-center .footer-text .icon-vk:hover {
        background-image: url("../../img/social-active.png");
        width: 24px;
        height: 24px; }
    .page-wrapper .bottom .bottom-center .footer-text .icon-facebook, .page-wrapper .bottom .bottom-center .footer-text .icon-facebook:hover {
      background-image: url("../../img/social.png");
      background-position: 72px 0px;
      width: 24px;
      height: 24px; }
      .page-wrapper .bottom .bottom-center .footer-text .icon-facebook:hover {
        background-image: url("../../img/social-active.png"); }
    .page-wrapper .bottom .bottom-center .footer-text .icon-twitter, .page-wrapper .bottom .bottom-center .footer-text .icon-twitter:hover {
      background-image: url("../../img/social.png");
      background-position: 48px 0px;
      width: 24px;
      height: 24px; }
      .page-wrapper .bottom .bottom-center .footer-text .icon-twitter:hover {
        background-image: url("../../img/social-active.png"); }
    .page-wrapper .bottom .bottom-center .footer-text .icon-4, .page-wrapper .bottom .bottom-center .footer-text .icon-4:hover {
      background-image: url("../../img/social.png");
      background-position: 24px 0px;
      width: 24px;
      height: 24px; }
      .page-wrapper .bottom .bottom-center .footer-text .icon-4:hover {
        background-image: url("../../img/social-active.png"); }
    .page-wrapper .bottom .bottom-center .footer-text a {
      display: inline-block;
      margin: 15px; }
  .page-wrapper .bottom .bottom-center .contact {
    color: #fff;
    margin-bottom: 40px; }
    .page-wrapper .bottom .bottom-center .contact .phone .under-logo-text {
      margin-top: 10px; }
    .page-wrapper .bottom .bottom-center .contact .phone .phone-number {
      font-size: 28px;
      margin-top: 10px; }
      @media screen and (max-width: 400px) {
        .page-wrapper .bottom .bottom-center .contact .phone .phone-number {
          font-size: 20px; } }
      .page-wrapper .bottom .bottom-center .contact .phone .phone-number a {
        color: #fff;
        text-decoration: none; }
        .page-wrapper .bottom .bottom-center .contact .phone .phone-number a:hover {
          color: orange; }
    .page-wrapper .bottom .bottom-center .contact .links {
      text-align: center; }
      .page-wrapper .bottom .bottom-center .contact .links .links-list {
        display: inline-block;
        min-width: 120px;
        vertical-align: top; }
        .page-wrapper .bottom .bottom-center .contact .links .links-list ul {
          padding-left: 0;
          text-align: left;
          list-style: none; }
          .page-wrapper .bottom .bottom-center .contact .links .links-list ul a {
            color: #b8bbbc;
            text-decoration: underline; }
            .page-wrapper .bottom .bottom-center .contact .links .links-list ul a:hover {
              color: #fff; }
            .page-wrapper .bottom .bottom-center .contact .links .links-list ul a li {
              color: #fff;
              padding-left: 0; }
.page-wrapper .footer {
  background-color: #fff;
  position: relative; }
  .page-wrapper .footer .copyright {
    display: inline-block;
    padding-top: 10px;
    left: -2em;
    color: #00233f;
    position: absolute;
    margin-left: -133px;
    left: 50%; }
    @media screen and (max-width: 600px) {
      .page-wrapper .footer .copyright {
        margin-left: 0;
        left: 5%;
        position: static; } }
  .page-wrapper .footer .letter-wrapper {
    padding-top: 0px;
    display: inline-block;
    cursor: pointer;
    float: right; }
    .page-wrapper .footer .letter-wrapper .dropdown {
      display: inline-block; }
      .page-wrapper .footer .letter-wrapper .dropdown em {
        display: inline-block;
        position: relative;
        top: -3px;
        color: #aea9a0;
        letter-spacing: 2px;
        font-family: "Droid Serif", serif; }
      .page-wrapper .footer .letter-wrapper .dropdown h4 {
        margin-bottom: 10px;
        font-family: "Marcellus", serif;
        font-size: 200%;
        color: #000; }
      .page-wrapper .footer .letter-wrapper .dropdown .letter {
        display: inline-block;
        background-image: url("../../img/letter.png");
        width: 29px;
        height: 29px;
        transform: translate(0px, 7px); }
      .page-wrapper .footer .letter-wrapper .dropdown .dropdown-menu {
        top: -450px;
        left: -160px;
        font-size: 12px;
        background-color: #aea9a0;
        padding: 25px;
        height: 450px;
        width: 300px; }
        .page-wrapper .footer .letter-wrapper .dropdown .dropdown-menu .form-group {
          padding: 0px; }
          .page-wrapper .footer .letter-wrapper .dropdown .dropdown-menu .form-group label {
            font-size: 10px; }
          .page-wrapper .footer .letter-wrapper .dropdown .dropdown-menu .form-group input {
            margin-bottom: 20px;
            width: 100%; }
      .page-wrapper .footer .letter-wrapper .dropdown .col-xs-12 {
        padding: 0; }
        .page-wrapper .footer .letter-wrapper .dropdown .col-xs-12 .btn-default {
          background-color: #aea9a0;
          margin-top: 20px; }
          .page-wrapper .footer .letter-wrapper .dropdown .col-xs-12 .btn-default:active {
            box-shadow: none !important;
            outline: none !important; }
          .page-wrapper .footer .letter-wrapper .dropdown .col-xs-12 .btn-default:first-child {
            font-style: italic;
            padding-left: 0;
            margin-top: 10px;
            border: none;
            font-family: "Droid Serif", serif;
            letter-spacing: 2px; }
            .page-wrapper .footer .letter-wrapper .dropdown .col-xs-12 .btn-default:first-child:hover {
              background-color: #aea9a0;
              color: #fff; }
              .page-wrapper .footer .letter-wrapper .dropdown .col-xs-12 .btn-default:first-child:hover .closeDropDownMenuIcon {
                background-image: url("../../img/hoverCloseDrowpdownMenu.png"); }
          .page-wrapper .footer .letter-wrapper .dropdown .col-xs-12 .btn-default:last-child {
            color: #fff;
            border-color: #fff;
            border-radius: 0;
            letter-spacing: 1px; }
          .page-wrapper .footer .letter-wrapper .dropdown .col-xs-12 .btn-default:hover {
            background-color: #fff;
            color: #545451;
            border-color: #000; }
          .page-wrapper .footer .letter-wrapper .dropdown .col-xs-12 .btn-default .closeDropDownMenuIcon {
            display: inline-block;
            background-image: url("../../img/closeDrowpdownMenu.png");
            background-position: 29px 0px;
            width: 29px;
            height: 29px;
            transform: translate(0px, 10px); }
