$bgForButton: #ececec
$widthSubmitButton: 170px

// .checkout
	
// 	width: 100%
// 	min-width: 150px
// 	margin: 0
// 	text-align: center

// 	img
// 		// беремо 100% тобто всю ширину - потім віднімаємо трошки більше чим наша кнопка
// 		// (оскільки існують ще відступи) і ділимо на 2 оскільки у нас 2 лінії
// 		width: calc((100% - 190px)/2) 
// 		height: 1px

// 	.btn-submit
// 		background-color: $bgForButton
// 		border: 1px solid #aaa
// 		border-radius: 0px
// 		height: 34px
// 		padding: 9px 10px
// 		font-size: 11px
// 		min-width: $widthSubmitButton
// 
.checkout
	position: relative
	.checkout-line
		border-bottom: 1px solid #ccc
		height: 25px
		margin-bottom: 25px
	.btn-submit
		background-color: $bgForButton
		border: 1px solid #aaa
		border-radius: 0px
		height: 34px
		padding: 9px 10px
		font-size: 11px
		min-width: 170px
		position: absolute
		left: 50%
		margin-left: -85px
		top: 7px
		// margin: auto
		&:hover
			border: 1px solid #000
			background-color: #fff