
@media screen and (max-width: 900px)
	.navbar-nav li a
		font-size: 20px
	.watches
		background-color: #fff
		text-align: center
		.watchesWrapper
			display: inline-block
			margin-right: 10px

		.imageWrapper
			position: relative
			display: inline-block
			// position: relative
			background-color: #f3f2f0
			padding: 20px 0
			margin-top: 15px
			width: 150px
			// для кнопки "в корзину" ввів це значення
			.select-dial
				display: block
				position: absolute
				bottom: 30px
				font-size: 0.8em
				background-color: #a0a9ae
				color: #fff
				border-color: #fff
				border-radius: 0
				width: 100px
				left: 100px
				margin-left: -50px
				&:hover
					background-color: #fff
					color: #a0a9ae
					border-color: #000


		.info
			display: inline-block
			position: relative
			background-color: #a0a9ae
			padding-top: 20px
			margin-left: 10px
			width: 150px
			height: 265px
			vertical-align: middle
			position: relative
			// border: none
			h5
				font-family: "Marcellus", serif
			img
				width: 80%
			.main-text
				font-size: 0.7em
				margin: 20px 10px
			.in-basket
				position: absolute
				font-size: 0.7em
				background-color: #a0a9ae
				color: #fff
				border-color: #fff
				border-radius: 0
				width: 100px
				left: 100px
				margin-left: -50px
				bottom: 30px
				display: inline-block
			&:hover
				background-color: #fff
				color: #a0a9ae
				border-color: #000
			.under-button-text
				font-size: 0.7em
				font-weight: bold
				position: absolute
				bottom: 0px
				margin-left: 40px
			.arrow-left
				position: absolute
				top: 45%
				left: -9px
				border-top: 10px solid transparent
				border-bottom: 10px solid transparent
				border-right: 10px solid #a0a9ae
				width: 0
				height: 0
			.arrow-right
				position: absolute
				top: 45%
				right: -9px
				border-top: 10px solid transparent
				border-bottom: 10px solid transparent
				border-left: 10px solid #a0a9ae
				width: 0
				height: 0
				// @extend .arrow-left